.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(117, 121, 121);
  min-height: 5vh;
}
.right {
  font-size: 1rem;
}

.icon {
  width: 2vw;
  height: 2vw;
}
