.h1-header {
  stroke-width: 5px;
  stroke-dasharray: 200;
  stroke-dashoffset: -200;
  animation: text 15s linear infinite;
  width: 100%;
  /* background-color: beige; */
  /* animation-delay: 1s; */
}

@keyframes text {
  /* 75% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke-width: 5px;
  } */
  /* 0% { */
  /* fill: #f3f3f3; */
  /* stroke-dashoffset: 35%;
    stroke-width: 0;
    stroke-dasharray: 0 70%; */
  /* fill: transparent; */
  /* transform: translateX(0%);
  } */
  80% {
    stroke-dashoffset: 0;
    /* transform: translateX(100%); */
  }
}

header {
  background-color: rgb(51, 51, 49);
}
.title {
  color: white;
  font-size: 3.5em;
  letter-spacing: 0.5em;
  animation: fonts;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  text-shadow: 0 0 20px #aaa;
  text-align: center;
}

@keyframes fonts {
  0%,
  100% {
    text-shadow: 0 0 10px #fcf6fbd3, 0 0 20px #fcf6fbd3, 0 0 20px #fcf6fbd3,
      0 0 20px #fcf6fbd3, 0 0 2px #fed128, 2px 2px 2px #806914;
    color: #f5efcb;
  }
  50% {
    text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b,
      0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
    color: #fcf6fbd3;
  }
}
